/* Variables (color definitions) */
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--dark);
}

/* Remove bullet points from lists */
.list {
  list-style: none;
}

.main-header {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

/* Header */

.header,
.header-navigation,
.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin: 24px 0 24px 0;
}
.header-list {
  margin: 0 0 0 76px;
  padding: 0;
}

.header-item {
  margin-right: 40px;
}

.header-address {
  margin-right: 156px;
}

.logo {
  text-transform: uppercase;
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.header-navigation > .logo {
  margin-left: 156px;
}

.logo-dark {
  color: var(--dark);
}

.logo-light {
  color: var(--light);
}

.header-link {
  color: var(--dark);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link {
  color: var(--text);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--primary-brand);
}

/* Hero */

.hero {
  background-color: var(--hero-background);
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-top: 188px;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-brand);
  width: 169px;
  height: 56px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* Core Points */

.core-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px 0 120px 0;
}

.core-list-item {
  width: 264px;
  margin: 0 24px 0 24px;
}

.core-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.core-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.doing-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 72px 0 120px 0;
}

.doing-list-item {
  margin: 0 24px 0 24px;
}

.team {
  background-color: var(--light);
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 72px 0 120px 0;
}

.team-list-item {
  background-color: var(--white);
  margin: 0 12px 0 12px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 32px 0 8px 0;
  color: var(--dark);
}

.team-list-role {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
  color: var(--dark);
}

.footer {
  background-color: var(--hero-background);
  padding: 100px 0 100px 156px;
}

.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
  max-width: 264px;
}

.product-selection-button {
  width: 116px;
  height: 48px;
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  color: var(--primary-brand);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.product-selection-button.active {
  background: var(--primary-brand);
  color: var(--light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-selection-button:hover,
.product-selection-button:focus {
  background: var(--primary-brand);
  color: var(--white);
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 96px 0 72px 0;
}

.button-list-item {
  margin: 0 12px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding: 0;
  list-style: none;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 1128px;
}

.work-item {
  width: 360px;
  height: 420px;
}

.work-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin: 32px 0 8px 0;
}

.work-item-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  margin: 0 0 32px 0;
}

.work-item-link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
