/* Variables (color definitions) */

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
}

/* Clear default styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Common */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--dark);
}

/* Remove bullet points from lists */

.list {
  list-style: none;
}

.main-header {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--dark);
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 24px 0;
  border-bottom: 1px solid var(--accent);
}
.header-pages-navigation,
.header-address-list {
  display: flex;
  align-items: center;
}

.header-pages-list {
  display: flex;
  align-items: center;
  margin-left: 76px;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.logo {
  text-transform: uppercase;
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: var(--dark);
}

.logo-light {
  color: var(--light);
}

.header-link {
  color: var(--dark);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link {
  color: var(--text);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--primary-brand);
}

/* Hero */

.hero {
  background-color: var(--hero-background);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-brand);
  border: none;
  width: 169px;
  height: 56px;
  text-align: center;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* Core Points */

.core-points {
  margin: 120px 0 120px 0;
}

.core-list {
  display: flex;
  align-items: center;
}

.core-list-item {
  width: 264px;
}

.core-list-item:not(:last-child) {
  margin-right: 24px;
}

.core-header {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.core-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.doing {
  padding-bottom: 120px;
}

.doing-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 72px 0 120px 0;
}

.doing-list-item:not(:last-child) {
  margin-right: 24px;
}

.team {
  background-color: var(--light);
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-list-item {
  width: 264px;
  background-color: var(--white);
}

.team-list-item:not(:last-child) {
  margin-right: 24px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 32px 0 8px 0;
  color: var(--dark);
}

.team-list-role {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
  color: var(--dark);
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.product-selection-button {
  padding: 12px 24px;
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  color: var(--primary-brand);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.product-selection-button.active {
  background: var(--primary-brand);
  color: var(--light);
}

.product-selection-button:hover,
.product-selection-button:focus {
  background: var(--primary-brand);
  color: var(--white);
  border-color: transparent;
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-list-item:not(:last-child) {
  margin-right: 12px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding-top: 72px;
}

.work-item {
  width: 360px;
  flex-basis: calc((100% - 2 * 24) / 3);
  border: 1px solid var(--accent);
}

.work-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--dark);
}

.work-item-descr {
  padding: 32px 0 32px 16px;
}

.work-item-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.work-item-link {
  text-decoration: none;
}

.footer {
  background-color: var(--hero-background);
  padding: 100px 0;
}

.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
  max-width: 264px;
  margin-top: 16px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
